.info-item{
    width: 100%;
    position: sticky;
    top: 0;
}
.about-me{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

}

.my-image{
    width: 100% ;
    border-radius: 100%;
}